
.jumbotron {
  width: 150%;
  max-width: 90em;
  padding: 0 15em;
  text-align: center;
  p {
    font-size: 2.5em;
    margin-top: -1em;
  }
  @media only screen and (max-width: 720px) {
    width: 60em;
    p {
      margin-top: 0;
      font-size: 2em;
    }
  }
}
