// Update Bulma's global variables
$black: #070707;
$blue: #3454d1;
$turquoise: #3454d1;
$green: #06d6a0;
$white: #fefdff;

// Update some of Bulma's component variables

@media (prefers-color-scheme: light) {
  @import "./lightstyles.scss";
}
@media (prefers-color-scheme: dark) {
  $title-color: $white;
  $subtitle-color: $white;
  body,
  ul,
  li {
    color: #fefdff !important;
  }
  $navbar-item-color: #fefdff;
  $navbar-item-hover-background-color: #1b262c;
  $navbar-item-hover-color: #fefdff;
  $card-content-background-color: #1b262c;
  $card-header-color: #fefdff;
  $card-color: #fefdff;
  $footer-background-color: #1b262c;
}
@import "../node_modules/bulma/bulma.sass";
@import "./navigation.scss";

#page-container {
  position: relative;
  min-height: 100vh;
}

.section {
  min-height: 100vh;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 10px;
  padding-bottom: 0px;
}
.profile {
  position: absolute;
  top: 67%;
  left: 10px;
}

.card:hover {
  transform: translate3D(0, -1px, 0) scale(1.05);
}
body {
  position: relative;
  min-height: 100%;
  min-height: 100vh;
}
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding-bottom: 0px;
}
.hidden {
  visibility: hidden;
  display: none;
}
