// Set your brand colors
$black: #070707;
$blue: #3454d1;
$turquoise: #05a9c7;
$green: #06d6a0;
$white: #fefdff;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $blue;
$link: $green;

// Update some of Bulma's component variables
$body-background-color: $white;

@import "../node_modules/bulma/bulma.sass";
@import "./navigation.scss";

.section {
  min-height: 100vh;
  padding: 24px;
}
