// Set your brand colors
$black: #070707;
$blue: #3454d1;
$turquoise: #05a9c7;
$green: #06d6a0;
$white: #fefdff;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $blue;
$link: $green;

// Update some of Bulma's component variables
$body-background-color: $white;
.dm {
  background-color: #222831; // TODO Implemenet darkMode
  color: white;

  .front,
  .back {
    border-radius: 25px;
    background: #3e6770;

    background-size: cover;
    padding: 10px;
  }
}

@import "../node_modules/bulma/bulma.sass";
@import "./navigation.scss";

#page-container {
  position: relative;
  min-height: 100vh;
}

.section {
  min-height: 100vh;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 10px;
  padding-bottom: 0px;
}
.profile {
  position: absolute;
  top: 67%;
  left: 10px;
}

.card:hover {
  transform: translate3D(0, -1px, 0) scale(1.05);
}
body {
  position: relative;
  min-height: 100%;
  min-height: 100vh;
}
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding-bottom: 0px;
}
.hidden {
  visibility: hidden;
  display: none;
}

.c {
  position: absolute;
  max-width: 500px;
  max-height: 300px;
  width: 100%;
  height: 100%;

  cursor: pointer;
  will-change: transform, opacity;
}

.front,
.back {
  border-radius: 25px;
  background: #cdf6fe;

  background-size: cover;
  padding: 10px;
}

.simple-trans-main > div {
  border-radius: 25px;

  will-change: transform, opacity;
}

.cardcontainer {
  border-radius: 25px;

  width: 500px;
  height: 300px;
  position: relative;
}
