.infoWithPicture {
  width: 100%;
  padding: 10%;
  display: flex;
  flex-direction: row;

  font-family: Montserrat;
  p {
    font-size: 1.2em;
  }
  img {
    width: 50%;
	}
  @media only screen and (max-width: 800px) {
    width: 100%;
    text-align: center;
    flex-direction: column;
   img {
      width: 100%;
      padding-top: 0;
      margin: 0;
    }
    p {
      left: 10%;
      font-size: 1.2em;
    }

  }
}
