.navigation {
  padding-left: 0.5em;
  padding-right: 0.5em;

  img {
    height: 50px;
  }

  .right a {
    margin-left: 1em;
  }

  @media only screen and (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    align-items: center;

    .left {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .right {
      margin-left: auto;
      display: flex;
      align-items: center;
    }
    .navigation-motion {
      width: 100%;
      display: flex;
      flex-direction: row;
    }

    .navigation-menu {
      display: none;
    }
  }

  @media only screen and (max-width: $tablet) {
    .navigation-top {
      display: flex;
      align-items: center;
    }
    &.active {
      .navigation-motion {
        opacity: 1;
      }
    }
    .navigation-motion {
      text-align: right;
      opacity: 0;
      transition: opacity 0.3s;
    }
    .navigation-menu {
      margin-left: auto;
      display: block;
    }
  }
}

// .active {
//   flex-direction: column;
// }
